:root {
  --dialog-background: rgb(203, 232, 241);
  --shadow: rgba(0, 0, 0, .3);
}
html {
  min-height: 100%;
}
body {
  padding: 3vw 5vw;
  min-height: 100%;
  position: relative;
  background-color: skyblue;
  font-family: 'Libre Bodoni';
  color: #333;
}
u {
  color: #A00B0B;
  font-weight: 700;
}
h1 {
  margin: 0;
  font-size: calc(25px + .5vw);
}
code {
  font-family: 'Roboto Mono';
  font-weight: 700;
}
h1 small {
  font-size: calc(12px + .5vw);
  display: block;
}
.qr-code {
  text-align: center;
  font-size: calc(14px + .5vw);
}
.qr-code img {
  border-radius: 1vw;
  border: 2px solid #a53232;
}
.box {
  position: relative;
  box-shadow: 5px 5px 0 var(--shadow);
  background-color: var(--dialog-background);
  border-radius: 1vw;
  box-sizing: border-box;
  border: 2px solid #a53232;
}
.dialog {
  font-size: calc(12px + .5vw);
  line-height: 1.5;
  padding: 1.5vw;
}
.dialog-pointer {
  width: 2vw;
  left: -2vw;
  top: 0;
}
.puzzle-container {
  position: relative;
  padding: .5vw 11vw 24vw;
  height: 65vw;
  margin-bottom: 4vw;
}
.puzzle-container img:not(.skull) {
  position: absolute;
}
.npc {
  top: -8vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  position: absolute;
}
.ahoy {
  background: white;
  display: inline-block;
  top: 3vw;
  margin-left: 3vw;
  position: absolute;
  white-space: nowrap;
}
.skull {
  width: 16vw;
  position: relative;
  display: inline-block;
}
.pegleg {
  bottom: 0;
  left: 0;
  width: 15vw;
}
.rum {
  top: 0;
  left: 1vw;
  width: 12vw;
  transform: rotate(-5deg);
}
.parrot {
  top: -1vw;
  right: 0;
  width: 20vw;
}
.treasure {
  width: 22vw;
  bottom: 0;
  left: 0;
  right: 15vw;
  margin: auto;
}
.gold {
  width: 15vw;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(20deg);
}
.ship {
  bottom: 0;
  right: 0;
  width: 30vw;
}
#grid {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Code Pro';
  font-size: calc(16px + .5vw);
  line-height: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2vw;
  margin: 5vw auto;
}
.puzzle-location {
  font-size: calc(10px + .5vw);
  display: grid;
  gap: 2vw;
  grid-template-columns: 20vw 1fr 15vw;
  align-items: center;
  margin-bottom: 5vw;
}
.info p {
  font-size: calc(14px + .5vw);
  margin: 0;
  line-height: 1.5;
}
.signup {
  font-size: calc(12px + .5vw);
  text-align: center;
}