:root {
  --dialog-background: rgb(203, 232, 241);
  --shadow: rgba(0, 0, 0, .3);
}
html {
  min-height: 100%;
}
body {
  padding: 1vw 2vw;
  min-height: 100%;
  position: relative;
  background-color: skyblue;
  font-family: 'Libre Bodoni';
  color: #333;
}
@media (min-width: 600px) {
  body {
    padding: 2.5vw 4.5vw;
  }
}
u {
  color: #A00B0B;
  font-weight: 700;
}
h1 {
  margin: 0;
  font-size: calc(20px + .7vw);
}
code {
  font-family: 'Roboto Mono';
  font-weight: 700;
}
h1 small {
  font-size: calc(12px + .5vw);
  display: block;
}

.puzzle-location {
  font-size: calc(10px + .5vw);
  display: grid;
  gap: 2vw;
  grid-template-columns: 20vw 1fr;
  align-items: center;
  margin-bottom: 8vw;
}
.info p {
  font-size: calc(10px + .7vw);
  margin: 0;
  line-height: 1.5;
}
.qr-code {
  display: none;
}

@media (min-width: 600px) {
  .puzzle-location {
    grid-template-columns: 20vw 1fr 15vw;
    margin-bottom: 5vw;
  }
  .qr-code {
    display: block;
    text-align: center;
    font-size: calc(14px + .5vw);
    white-space: nowrap;
  }
  .qr-code img {
    border-radius: 1vw;
    border: calc(1px + .2vw) solid #a53232;
    display: block;
  }
}

.box {
  position: relative;
  box-shadow: .4vw .4vw 0 var(--shadow);
  background-color: var(--dialog-background);
  border-radius: 1vw;
  box-sizing: border-box;
  border: calc(1px + .2vw) solid #a53232;
}
.ahoy {
  left: 16vw;
  display: inline-block;
  position: absolute;
  width: 15vw;
  top: 8vw;
}
@media (min-width: 600px) {
  .ahoy {
    top: 9vw;
  }
  /* .dialog-pointer {
    top: 3vw;
  } */
}

.puzzle-container {
  position: relative;
  padding: .5vw 11vw 24vw;
  height: 65vw;
  margin-bottom: 4vw;
}
.puzzle-container img:not(.skull) {
  position: absolute;
}
.npc {
  top: -8vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 25vw;
  position: absolute;
}
.skull {
  width: 16vw;
  position: relative;
  display: inline-block;
}
.pegleg {
  bottom: 0;
  left: 0;
  width: 15vw;
}
.rum {
  top: 0;
  left: 1vw;
  width: 12vw;
  transform: rotate(-5deg);
}
.parrot {
  top: -1vw;
  right: 0;
  width: 20vw;
}
.treasure {
  width: 22vw;
  bottom: 0;
  left: 0;
  right: 15vw;
  margin: auto;
}
.gold {
  width: 15vw;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(20deg);
}
.ship {
  bottom: 0;
  right: 0;
  width: 30vw;
}
#grid {
  display: grid;
  gap: 1vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Code Pro';
  font-size: calc(14px + .7vw);
  line-height: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2vw;
  margin: 5vw auto;
}
.signup {
  font-size: calc(10px + .7vw);
  text-align: center;
}
